#login-form label {
    display: block;
    margin: 1rem 0;
}

#login-form input,
#login-form select,
#login-form textarea {
    margin: 0 1rem;
}

#login-form .error-message {
    color: red;
    margin: 1rem 0;
    font-family: "Courier New", Courier, monospace;
}
